<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="false"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="false"
         displayDetailsOnTestsThatTriggerWarnings="false"
         >
    <testsuites>
        <testsuite name="ProcessGraphQL Test Suite">
            <directory>test</directory>
            <exclude>test/Performance</exclude>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="24575" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
</phpunit>
